<div class="column is-multiline is-half">
  <% @customers.each do |item| %>
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <%= image_tag item.image %>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4"><%=item.name%></p>
            <p class="title is-6"><%=item.email%></p>
            <p class="title is-6"><%=item.phone%></p>
          </div>
        </div>
        <div class="content">
          <p class="subtitle is-6"><%=item.notes%></p>
        </div>
      </div>
    </div>
  <% end %>
</div>